//update24: * CSS FRMWK - BS - design TopAI.tolls web 
//          * new ikony

//Problemy:
//1) hlavni nadpis barva?+lepší obrázek (altern-instag.ikona)
//navigation marg.-top na zacatku mozna neni treba
// plavající footer při vetších zobrazení
// ipady - lišta proporcne nesedí?
// ??? buttony back a burger vylezaji z listy ???
//  1024x600 obdelníky nejsou na výšku vidět celé pri zobrazení zeshora
//  galayxy fold - proporce pisma 


//SCSS - VARIABLES, NESTING, FUNCTIONS

// V A R I A B L E S 

$color-text: white;
$color-bg-body: #33292a;
$color-bg-navstripe: gray;
$color-bg-navmenu: rgb(87, 86, 86);
$color-bg-footer: yellow; /*rgb(66, 66, 66)*/

// G E N E R A L 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tektur', cursive;
  color: $color-text;
  background-color: $color-bg-body;
}

a,a:visited {
  text-decoration: none;
  color: $color-text;
}

// H E A D E R  

header {
  text-align: center;
  padding-bottom: 25px;
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-size: 175%;
  margin: 0px;

  padding: {
    top: 25px;
    bottom: 25px;
  }

  letter-spacing: 1px;
}

.h1-container {
  padding: 0px 50px;
}

.icon {
  width: 70px;
  height:50px ;
  filter: opacity(0.6) drop-shadow(0 0 0 white) brightness(10);
}

// N A V - S T R I P E  

.nav-stripe { 
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  background-color: $color-bg-navstripe;
}

.btn-back,.back-btn {
  background: $color-bg-navstripe;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.back-btn {
  width: 2.8rem;
  height: 2rem;
  padding-top: 8px;
}

.search-btn {
  background: $color-bg-navstripe;
  width: 2.8rem;
  height: 2rem;
  margin-top: 5px;
}

//  N A V I G A T I O N  

.navigation {
  margin-top: 25px;
}

nav {
  background-color: $color-bg-navstripe;

  ul {
    text-align: center;
  }
    li {
      display: inline-block;
      padding: .8rem .8rem; 
      font-weight: 700;
    }
    nav li a {
      padding: .8rem 10rem ;
      }
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-btn {
  background: $color-bg-navmenu;
  border: none;
  color: $color-text;
  font-weight: normal;
  padding: 0 50px;
}

// N A V - B U R G E R  

.burger-btn {
  width: 2.8rem;
  height: 2.5rem;
  padding: 0.1rem;
}

// C O N T E N T

.obdelniky,.obdelniky-dolni {
  display: grid;
  width: 80%;
  height: auto;
  grid-template-columns: 49.5% 49.5%;
  grid-template-rows: 50% 50%;
  grid-gap: 2px;
  background-color: $color-bg-body;
  margin: 15% auto;
  border: 2px solid $color-bg-body ;
}

.ico {
  width: 100%;
  height: 100%;
  background-color: black;
  color: $color-text;
  text-align: center;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h2 {
  letter-spacing: 1px;
  font-size: 130%; 
  margin-top: 5%;
}

img {
  width: 100%;
  height: 100%;
}

.img-iko {
  width: 65%; 
  height: 60%; 
  filter: invert(100%);
  margin-top: 5%;
}

// C O N T E N T - S E Z N A M

.subheading {
  font-family: 'Tektur', cursive;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.seznam-img-others {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 85.553%; 
  object-fit: fill;
  border-radius: 20px;
}

.box-seznam h3 {
  z-index: 1;
  padding-top: 210px; 
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

//  B O X E S  

.boxy-flex-seznam {
  margin-top: 20px;
}

.box-seznam {
  width: 90%;  
  height: 18em;
  background-color: $color-bg-body;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  position: relative; 
} 

// F O O T E R

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
  width: 100%;
  background-color: $color-bg-footer;
  color: darken($color-text,100%);
  margin-bottom: 0px;
}

// M E D I A  Q U E R I E S 

@media (min-width: 600px) { 

  .navigation {
    margin-top: -11px; 
  }
} 

@media (min-width: 665px) { 
  
  h2 {
    font-size: 28px; 
  }
}

@media (min-width: 700px) { 

  .navigation {
    margin-top: 47px; 
  }

  h1 {
    font-size: 36px; 
  }

.box-seznam {
  width: 75%;  
}

.subheading {
  margin-top: 50px;
}
}

@media (min-width: 757px) { 

.navigation {
  margin-top: 0px; 
}
}

@media (max-width: 864px) { 

  .navigation {
    display: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    position: absolute; 
    top: 242px; 
    background-color: $color-bg-navmenu;
    width: 100%;
    align-items: center;
    left: -100%;
    transition: 0.3s ease-out;
    z-index: 2; 

      li {
        width: 100%;
        border: solid 0.1px black;
      }
  } 
  
  .navigation.active {
    left: 0%;
  }
}

@media only screen and (min-width: 865px) { 
  
.navigation {
    display: block;
    margin-top: -11px;
  }
   
  .burger {
    display: none;
  }

 .nav-btn {
    border: solid 1px black;
    border-radius: 50px;
    padding: 8px 15px;
    background: rgb(95, 94, 94);
  } 

.act,.nav-btn:hover {
  background: lighten(rgb(95, 94, 94),30%);
  color: black;
}

.box-seznam {
  width: 65%;  
  height: 23em;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  position: relative; 
}

h3 {
  z-index: 1;
  padding-top: 285px; 
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.box-seznam h3 {
  padding-top: 270px;
}
}

@media only screen and (min-width: 900px) {
  
  h2 {
    font-size: 24px;
  }

  .obdelniky-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 0.6%;
  }

  .obdelniky {
    width: 40%; 
    margin: 15% auto;
  }

  .obdelniky-dolni {
    width: 40%; 
    margin: 0% auto;
  }
}

@media only screen and (min-width: 992px) {
  
  .content {
    display: flex;
  }

.nav-stripe { 
  justify-content: center;
}
   
.btn-back {
  margin-right: 5%;
}

.search-btn {
 margin-left: 5%;
}   

nav ul {
 text-align: end;
}

.boxy-flex-home,.boxy-flex-seznam {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
}
  
.boxy-flex-seznam {
  flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 10.5%;
}
  
.nav-stripe { 
  justify-content: center;
}
   
.subheading {
 margin-top: 70px;
}

.boxy-flex-line {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.box-seznam {
  width: 28%;  
  height: 18em;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  position: relative; 
}

.box-seznam h3 {
  padding-top: 210px;
}

.seznam-preview {  
  height:75.5%;
  padding-top: 18px;
}

h3 {
  padding-top: 225px; 
}
}

@media only screen and (min-width: 1280px) {

  html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr pro obsah, auto pro footer */
    min-height: 100%;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header {
  width: 40%;
}
  
.content {
  display: flex;
}

.obdelniky-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.obdelniky,.obdelniky-dolni{
  width: 22%; 
  margin: 10% auto;
  padding-bottom: 2px;
}

.obdelniky:hover,.obdelniky-dolni:hover {
  border-color: lighten($color-bg-body,100%);
  cursor: pointer;
}
} /*22.10.*/